<div class="row">
  <div class="small-3 columns">
    <br>
  </div>
  <div class="small-6 columns">
    <%= simple_form_for @task do |f| %>
      <%= f.text_field :title, placeholder: 'Task' %>
      <%= f.text_field :description, placeholder: 'Additional Details' %>

      <% if current_page?(tasks_path) %>
        <%= f.button :submit, 'Add Task' %>
      <% else %>
        <%= f.button :submit, 'Change Task' %>
      <% end %>
    <% end %>
  </div>
  <div class="small-3 columns">
    <br>
  </div>
</div>
